    <script>

        _thisurl = location.href;

        $(function()
        {
                // search input animation
                $('#titleSearchIcon').click(function () {
                    if ($('#titleSearch').is(':visible')) {
                        $('#titleSearch').stop().animate({width: '0px', height: '0px', opacity: 0}, 200, function () {
                                $(this).hide();
                            }
                        );
                    }
                    else {
                        $('#titleSearch').show(200,
                            function () {
                                $('#titleSearch').stop().animate({width: '220px', height: '31px', opacity: 1}, 200);
                            }
                        );
                    }
                    return false;
                });
            });

        $(function()
        {
            $('#refresh').click(function ()
            {
               startloader();

               var url  =  $('.selectRows').find('a.active').attr('href');
                   url += ' #tableBody';

                $('#tableBody').load(url, function () {
                    setCheckboxes();
                    stoploader();
                });
                return false;
            });
        });
    </script>

<div id="progress">Loading...</div>

<div class="listtable">
    <div class="title">
        <div class="listtitle">

            {% if 'detail' in modelname %}
                 <span class="icon_1" style="background-image: url(/css/img/icons/32x32-icons/product.png)"></span>
            {% else %}
                 <span class="icon_1" style="background-image: url(/css/img/icons/32x32-icons/{{ modelname }}.png)"></span>
            {% endif %}

            <h1 class="{{ title|lower|replace(' ', '_') }}">
                {{ title }}
            </h1>
        </div>
        <div class="buttons">
            {% if links %}
                {% for icon_key, link in links %}
                    <a class="btn-icon {{ icon_key }}"
                       href="{{ url(link.route, link.routeparams, { 'query': link.queryparams|merge({ 'back':saurlhash }) } ) }}">{{ translate(link.label) }}</a>
                {% endfor %}
            {% endif %}

        <div class="buttons left">
            <a href="{{ saurlback !='/' ? saurlback : url( null, { 'data': modelname, 'view': 'list' } ) }}"
               class="back btn-icon" title="Back">{{ translate("Back") }}</a>
        </div>

            <div id="titleSearch" class="titleSearch" style="">
                <form class="search_form" action="{{ url( null, params|removeKey([ 'q', 'p']) )~saurl }}"
                      method="get" name="list_search">

                    <input class="long_placehldr" type="text" name="q" value="{{ search_query }}"
                           placeholder="Search in &quot;{{ title }}&quot;"/>

                    <div class="searchico"></div>
                </form>
            </div>
        </div>
        {% if search_query %}
            <div class="buttons" style="padding-left: 8px;">
                <a href="{{ url( null, params|removeKey([ 'q', 'p']) )~saurl }}">Show all records</a>
            </div>
        {% endif %}
        <div style='display: inline; font-size: larger; font-style: italic;color:#999999; vertical-align: super;'
             id="letter"></div>
        <div class="buttons right">
            <a id="refresh" class="refresh btn-icon" href="">
                {{ translate('Refresh') }}
            </a>
            <a class="choose btn-icon" href="{{ url( 'setup', { 'action': 'view', 'table':table.id } )~saurl }}">
                {{ translate('Output fields') }}
            </a>
        </div>
    </div>
    <div id="tableBody">
        <form id="deleteForm" action="{{ url( null, { 'data': modelname, 'view': 'delete' } )~saurl }}"
              method="post"
              name="checked">
            {#<div class="load_div">#}
                <table id="data" class="data">
                    <thead>
                    <tr class="tableHeader">
                        {% block sortUrlConstruction %}
                            {% for value in fields %}
                                <th class="{% if column.sort == value %}checked{% endif %}">
                                    <a href="{{ url( null, params|merge({ 'sort':value, 'desc':column.desc==0?1:0 }), { 'query': queryparams|merge({ 'back':saurlhash }) } )}}">{{ attribute( labels, value ) }}</a>
                                    {% if column.sort == value %}
                                        <span class="{{ column.desc!=0 ? 'down':'up' }}"></span>
                                    {% endif %}
                                </th>
                            {% endfor %}
                        {% endblock sortUrlConstruction %}
{#                        {% block actiontitle %}
                            <th class="width_10p">Actions</th>
                        {% endblock actiontitle %}#}
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    {% for akey,avalue in paginator.getCurrentItems %}
                        <tr>
                            {% for key in fields %}
                                <td class="{% if column.sort == key %}checked{% endif %}">
                                    {% include [ 'partial/'~ modelname ~'-list.twig', 'common/data-list.twig' ] %}
                                </td>
                            {% endfor %}
                     {#       <td class="width_10p">
                                {% for action, conf in actions %}
                                    <a class="actionview"
                                       href="{{ url(conf.route, conf.routeparams|merge({ 'id':''~ attribute(avalue, conf.id) }), { 'query': conf.queryparams|merge({ 'back':saurlhash }) } ) }}"><img
                                            src="/img/1.png" class="{{ action }}" alt="{{ action }}"/><span
                                            class="tooltip top">{{ action|capitalize }}</span></a>&nbsp;
                                {% endfor %}
                            </td>#}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {#</div>#}
            <div class="tableBottomToolbar">
                {% block downButtons %}
                    <div class="buttons right">
                        {% if paginator.count > 1 %}
                            {% include 'partial/pagination.twig' with { 'pages':paginator.getPages, 'route': null, 'params':params } %}
                        {% endif %}
                    </div>
                    <div class="buttons">
                        <noscript>
                            <input type="submit" name="delete" value="{{ translate('Delete selected') }}"/>
                        </noscript>
                        {% if paginator.getTotalItemCount > 5 %}
                            <div class="selectRows" id="selectRows">
                                <div class="msg"><span>Rows on the page:</span>
                                </div>
                                {% for i in rows %}
                                    <a href="{{ url( null, { 'data': modelname, 'view': 'list' }, { 'query': { 'rowcount': i } } ) }}"
                                       class="{% if paginator.getItemCountPerPage == i %}active{% endif %}">{{ i }}</a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div style="float: right; padding-top: 2px;" class="msg">
                        <table>
                            <tbody>
                            <tr>
                                <td id="total_count">
                                    {% if paginator.getTotalItemCount > 0 %}
                                        Total&nbspcount&nbsp:&nbsp{{ paginator.getTotalItemCount }}
                                    {% endif %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                {% endblock downButtons %}
            </div>
        </form>
    </div>
</div>

    <a align="center" id="scrollTop" href="#" onclick="top.goTop();return false;"></a>


<script>
    function changeRow(i) {
        $.ajax({
            type: 'POST',
            url: 'http://' + window.location.hostname + '/rowcount/',
            datatype: 'json',
            data: {
                row: i
            },
            error: function () {
                console.log('error')
            },
            success: function (res) {
                console.log(res);
            }
        });
    }
</script>
