{% extends 'layout/layout.twig' %}
{% set title = translate('Fields')%}
{% block title %}{{parent()}} - {{ title }}{% endblock title %}
{% block script %}
      {{parent()}}
<script>
    $(
      function(){
//          $('select').selectBox();
          $('#c_all').click(
            function (){
                if ( $('div.checked', '#c_all' ).size() )
                {
                    $('input.check').prop('checked', true);
                    $('div.checkboxArea').addClass('checked');
                }
                else
                {
                    $('input.check').prop('checked', false);
                    $('div.checkboxArea').removeClass('checked');
                }

        });
        $('#c_all_label').click(
            function(){
                $('#c_all_input').click();
                $('#c_all').click();
            }
        );

      }
    );
</script>
{% endblock script %}
{% block content %}
        <form action="{{ url( 'setup', { 'action': 'save', 'table':table_id } )~back }}" method="post" name="cheked">
            <div class="view_header">
                {% if saurlback !='/' %}
                    <a href="{{ saurlback }}" class="titleBack" title="Back"></a>
                {% else %}
                    <a href="{{ url( null, { 'action': 'list' } ) }}" class="titleBack" title="Back"></a>
                {% endif %}
                <div class="title"><h1>{{translate('Configure')}}</h1></div>
                <a href="#" class="titleSubmit submitLink" title="Save"></a>
                    {# <div class="success_msg"><i class="imgTxt txtSuccess"></i>Profile has been saved successfully!</div> #}
                <noscript><input type="submit" name="save" /></noscript>
            </div>
            <div class="table">
                <h2>{{title}}</h2>
                <table>
                    <thead>
                        <tr>
                            <th style="width: 70px;">
                                <div id="c_all" class="checkbox">
                                    <input type="checkbox" name="c_all_input" id="c_all_input" value="" /><br/><br/>
                                </div>
                                <label id="c_all_label" for="c_all" >{{translate('Visible')}}</label>
                            </th>
                            <th>{{translate('Order')}}</th>
                            <th>{{translate('Label')}}</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for avalue in rows %}
                            <tr>
                                <td>
                                    <input type="hidden" name="row[{{avalue.id()}}][id]" value="{{avalue.id()}}" />
                                    <div class="checkbox">
                                        <input type="checkbox" name="row[{{avalue.id()}}][visible]" id="{{avalue.id()}}" value="1" {% if avalue.visible %}checked="checked"{% endif %} class="check" />
                                    </div>

                                </td>
                                <td style="width:60px;">
                                    <select name="row[{{avalue.id()}}][order]" style="width:60px;">
                                        {% for i in range(1, rows|length) %}
                                            <option value="{{i}}" {% if avalue.order==i %}selected="selected"{% endif %}>{{i}}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td >
                                    <input type="text" name="row[{{avalue.id()}}][label]" value="{{avalue.label}}" style="width:260px;" />
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
{% endblock content %}
