{% extends 'layout/layout.twig' %}

{% block script %}
    <script>

        _thisurl = location.href;

        $(function() {
//            $('select').selectBox();
            $('#body').on("click","#c_all",function(){
                        if ($('div.checked', this).size()) {
                            $('input.check').prop('checked', true);
                            $('div.checkboxArea').addClass('checked');
                            $('tr', "#tbody").addClass('checked');
                            $('#deletebtn').removeClass('disabled');
                            $('#restorebtn').removeClass('disabled');
                            $('#clearbtn').removeClass('disabled');
                        }
                        else {
                            $('input.check').prop('checked', false);
                            $('div.checkboxArea').removeClass('checked');
                            $('tr', "#tbody").removeClass('checked');
                            $('#deletebtn').addClass('disabled');
                            $('#restorebtn').addClass('disabled');
                            $('#clearbtn').addClass('disabled');
                        }
                    });

            // search input animation
            $('#titleSearchIcon').click(function() {
                if ($('#titleSearch').is(':visible')) {
                    $('#titleSearch').stop().animate({width: '0px', height: '0px', opacity: 0}, 200
                            , function() {
                                $(this).hide();
                            }

                    );
//                        $('titleSearch').hide();
                }
                else {
                    $('#titleSearch').show(200,
                            function() {
                                $('#titleSearch').stop().animate({width: '220px', height: '31px', opacity: 1}, 200);
                            }
                    );

//                        $('titleSearch').show();
                }
                return false;
            });
        }

        );
    </script>

    <script>
        restoreurl = "{{ url( null, { 'action': 'restore' } ) }}";
        cleanurl = "{{ url( null, { 'action': 'clean' } ) }}";
        deleteurl = "{{ url( null, { 'action': 'delete' } ) }}";

        $(function() {

            $('#body').on("click","div.alphabet a.ajax",function() {
                $('div.alphabet a.ajax').removeClass('active');
                $(this).addClass('active');
            });

            $('#body').on("click","a.ajax", function() {
                var _target = $(this).attr('ajax-target');
                var _src = $(this).attr('ajax-src');
                var _location = $(this).attr('href');

                if (_src.length) {
                    _src = ' ' + _src;
                }

                $("#tbody").html('<td align = "center" colspan="15"> <img style = "padding:10px;" src =/css/img/icons/32x32-icons/ajax-loader.gif> </td>');
                $(_target).load(_location + _src, null, function () {
                    setCheckboxes();
                });
                _thisurl = _location;
                return false;
            });

            $('#refresh').click(function() {
                var _target = $('a.ajax.active').attr('ajax-target');
                var _location = $('a.ajax.active').attr('href');
                var _src = $('a.ajax.active').attr('ajax-src');

                if (_src.length) {
                    _src = ' ' + _src;
                }

                $('#tbody').html('<td align = "center" colspan="15"> <img style = "padding:10px;" src =/css/img/icons/32x32-icons/ajax-loader.gif> </td>');
                 $(_target).load(_thisurl + _src, null, function() {
                    setCheckboxes();
                });

                return false;
            });

            $('#body').on("click","#deletebtn", function() {
                dialogfnct('delete');
            });

            $('#body').on("click", ".single_del", function(){
              single_action = true;
              title =  $(this).closest( 'tr' ).find('.d_title').text();
              id = $(this).closest( 'tr' ).find('.check').val();
              dialogfnct('delete');
            });
        });
    </script>
{% endblock script %}

{% block content %}
    <div class="listtable">
        <div class="title">
            <div class="listtitle">
                  {% block headericon %}    <span class="icon_1" style="background-image: url(/css/img/icons/32x32-icons/{{ modelname }}.png)"></span> {% endblock %}
                <h1 class="{{ title|lower|replace(' ', '_') }}">
                    {{ title }}
                </h1>
            </div>
            <div class="buttons">
                {% block leftlink %}
                    <a class="add btn-icon" href="{{ url( null, { 'action': 'add' } ) }}"
                       title="{{ translate('Add') }}">{{ translate('Add New') }}</a>
                {% endblock leftlink %}
                    <div id="titleSearch" class="titleSearch" style="">
                        <form class="search_form" action="{{ url( null, params|removeKey([ 'q', 'p']) )~saurl }}"
                              method="get" name="list_search">

                            <input class="long_placehldr" type="text" name="q" value="{{ search_query }}"
                                   placeholder="Search in &quot;{{ title }}&quot;"/>
                            <div class="searchico"></div>
                        </form>
                    </div>
            </div>

     {% if search_query %}
         <div class="buttons" style="padding-left: 8px;">
              <a href="{{ url( null, params|removeKey([ 'q', 'p']) )~saurl }}">Show all records</a>
         </div>
     {% endif %}
     <div style='display: inline; font-size: larger; font-style: italic;color:#999999; vertical-align: super;' id="letter"></div>

            <div class="buttons right">
                <a id="refresh" class="refresh btn-icon" href="">
                    {{ translate('Refresh') }}
                </a>
                <a class="choose btn-icon" href="{{ url( 'setup', { 'action': 'view', 'table':table.id } )~saurl }}">
                    {{ translate('Output fields') }}
                </a>
                {% if 'recyclelistAction' in actions_list %}
                    <a href="{{ url( null, { 'action': 'recyclelist' } )~saurl }}" class="delete btn-icon">
                        {{ translate('Recycle') }}
                    </a>
                {% endif %}
            </div>
        </div>
        <div id="tableBody">
{#            {% if paginator.getTotalItemCount %}#}
                <form id="deleteForm" action="{{ url( modelname, { 'action': 'delete' } )~saurl }}" method="post"
                      name="checked">

                    <table class="data">
                        <thead>
                            <tr class="tableHeader">
                                <th class="width_4p">
                        <div id="c_all" class="checkbox">
                            <input type="checkbox" name="c_all_input" value=""/>
                        </div>
                        </th>
                        {% block sortUrlConstruction %}
                            {% for key,value in labels %}
                                <th class="{% if params.sort==key %}checked{% endif %}">
                                    <a href="{{ url( modelname, { 'action': 'list','sort':key, 'desc':params.desc==0?1:0 } ) }}">{{ value }}</a>
                                    {% if params.sort==key %}
                                        <span class="{{ params.desc!=0 ? 'down':'up' }}"></span>
                                    {% endif %}
                                </th>
                            {% endfor %}
                        {% endblock sortUrlConstruction %}
                    {% block actiontitle %}
                        <th class="width_10p">Actions</th>
                    {% endblock actiontitle %}
                        </tr>
                        </thead>
                        <tbody id="tbody">
                            {% for akey,avalue in paginator.getCurrentItems %}
                                <tr>
                                    <td class="first_td">
                                        <div class="checkbox">
                                            <input title="" type="checkbox" name="checkedid[]" id="{{ avalue.id() }}"
                                                   value="{{ avalue.id() }}" class="check"/>
                                        </div>
                                    </td>
                                    {% for key,value in labels %}
                                        <td class="{% if params.sort==key %}checked{% endif %}">
                                            {% block data %}
                                                {{ attribute(avalue, key) }}
                                            {% endblock data %}
                                        </td>
                                    {% endfor %}
                                    <td class="width_10p">
                                        {% block action %}
                                            <a class="actionview"
                                               href="{{ url( null, { 'action': 'view','id':''~avalue._id }, { 'query': { 'sort':'title', 'back': back } } ) }}">
                                                <img src="/img/1.png" class="view" alt="{{ translate('View') }}"/>
                                                <span class="tooltip top">View</span>
                                            </a>&nbsp;
                                            <a class="actionview"
                                               href="{{ url( null, { 'action': 'edit','id':''~avalue._id } )~saurl }}">
                                                <img src="/img/1.png" class="edit" alt="{{ translate('Edit') }}"/>
                                                <span class="tooltip top">Edit</span>
                                            </a>&nbsp;
                                            <a class="actionview">
                                                <img
                                                    src="/img/1.png" id="single_del" class="delete single_del"
                                                    alt="{{ translate('Delete') }}"/>
                                                <span class="tooltip top">Delete</span>
                                            </a>
                                        {% endblock action %}
                                    </td>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>

                    <div class="tableBottomToolbar">

                        {% block downButtons %}

                            <div class="buttons left">
                                <a id="deletebtn" class="delete btn-icon disabled">{{ translate('Delete selected') }}</a>
                            </div>

                            <div class="buttons right">
                                {% if paginator.count > 1 %}
                                    {% include 'partial/pagination.twig' with { 'pages':paginator.getPages, 'route': null, 'params':params } %}
                                {% endif %}
                            </div>

                            <div class="buttons">

                                <noscript>
                                  <input type="submit" name="delete" value="{{ translate('Delete selected') }}"/>
                                </noscript>

                                {% if paginator.getTotalItemCount > 5 %}
                                    <div class="selectRows" id="selectRows">
                                        <div class="msg"><span>Rows on the page:</span>
                                        </div>
                                        {% for i in rows %}
                                            <a href="{{ url( null, { 'action': 'rowscount' } )~saurl }}&rows={{ i }}"
                                               class="{% if paginator.getItemCountPerPage == i %}active{% endif %}">{{ i }}</a>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                            </div>

                            <div style="float: right; padding-top: 2px;" class = "msg" >
                             <table>
                                 <tbody>
                                     <tr>
                                        <td id = "total_count">
                                            {% if paginator.getTotalItemCount > 0 %}
                                                  Total&nbspcount&nbsp:&nbsp{{ paginator.getTotalItemCount }}
                                            {% endif %}
                                        </td>
                                     </tr>
                                 </tbody>
                             </table>
                            </div>

                            <div class="alphabet">
                                <a id="#All" ajax-src="#tableBody" ajax-target="#tableBody"
                                   class="ajax {% if not letter %}active{% endif %}"
                                   href="{{ url( null, params, { 'query': { 'back': back, 'q': search_query } } ) }}">All</a>
                                {% for _letter in 'A'..'Z' %}
                                    <a id="#{{ _letter }}" ajax-src="#tableBody" ajax-target="#tableBody"
                                       class="ajax {% if letter == _letter %}active{% endif %}"
                                       href="{{ url( null, params, { 'query': { 'letter':_letter, 'back': back, 'q': search_query } } ) }}">{{ _letter }}</a>
                                {% endfor %}
                            </div>

                        {% endblock downButtons %}
                    </div>

                </form>
{#            {% endif %}#}
        </div>
    </div>
    <a align="center" id="scrollTop" href="#"></a>
    <div class="dialog-message"></div>
{% endblock content %}
