{% if key == 'subject' %}
    <a href="{{ url( null, { 'action': 'view','id': avalue.id() } )~saurl }}" >{{ attribute(avalue, key) }}</a>
{% elseif key == 'changer_id' and attribute(avalue, 'changer_id') is not empty %}
    <a href="{{ url( 'user', { 'action': 'view','id':''~attribute(avalue, 'changer_id')} )~saurl }}" >
        {{ avalue.changerfname}}
        {{ avalue.changerlname}}
    </a>
{% elseif key == 'status_id' %}
    {{ attribute(avalue, "status") }}
{% elseif key == 'owner_id' and attribute(avalue, 'owner_id') is not empty %}
<a href="{{ url( 'user', { 'action': 'view','id':''~attribute(avalue, 'owner_id')} )~saurl }}" >
    {{ avalue.ownerfname}}
    {{ avalue.ownerlname}}
    </a>
{% elseif key == 'contact_id' and attribute(avalue, 'contact_id') is not empty %}
    <a href="{{ url( 'contact', { 'action': 'view','id':''~attribute(avalue, 'contact_id')} )~saurl }}" >{{ attribute(avalue, "contact") }}</a>
{% elseif key == 'order_id' and attribute(avalue, 'order_id') is not empty %}
    <a href="{{ url( 'orderdetail', { 'action': 'list','orderid':''~attribute(avalue, 'order_id')} )~saurl }}" >{{ attribute(avalue, "order") }}</a>
{% elseif key[-4:] == '_dtm' %}
    {{attribute(avalue, key)|date(constant('\\Wepo\\Constant::DATETIME_FORMAT'))}}
{% elseif key[-6:] == '_price' %}
    ${{ attribute(avalue, key)|number_format(2, '.', ',') }}
{% elseif key[-5:] == '_date' %}
    {{attribute(avalue, key)|date(constant('\\Wepo\\Constant::DATE_FORMAT'))}}
{% else %}
    {{ attribute(avalue, key) }}
{% endif %}
