{% if pages.pageCount  %}
    <div class="pagination">
        <div class="msg">
            {{ translate("Page %s of %s")|format(pages.current, pages.last) }}
        </div>

        {#{% if pages.totalItemCount %}#}
            {#<div class="msg">#}
                {#{{ translate("Rows %s - %s of %s")|format(pages.firstItemNumber, pages.lastItemNumber, pages.totalItemCount) }}#}
            {#</div>#}
        {#{% else %}#}
            {#<div class="msg">{{ translate("Rows: %s")|format(o) }}</div>#}
        {#{% endif %}#}

        <!-- First page link -->
        {% if pages.previous  %}
            <a class="working" href="{{ url( route, params|merge({'page': pages.first }) ) }}"> I&lt;&lt;</a>
        {% else %}
            <a class="disabled"> I&lt;&lt;</a>
        {% endif %}
        <!-- Previous page link -->
        {% if pages.previous %}
            <a class="working" href="{{ url( route, params|merge({'page': pages.previous }) ) }}">&lt;</a>
        {% else %}
            <a class="disabled">&lt;</a>
        {% endif %}
        <!-- Numbered page links -->
        {% if pages.totalItemCount %}
            {% for page in pages.pagesInRange %}
                {% if page != pages.current %}
                    <a class="working" href="{{ url( route, params|merge({'page': page }) ) }}">{{page}}</a>
                {% else %}
                    <a class="active">{{page}}</a>
                {% endif %}
            {% endfor %}
        {% endif %}
        <!-- Next page link -->
        {% if pages.next %}
            <a class="working" href="{{ url( route, params|merge({'page': pages.next }) ) }}"> &gt;</a>
        {% else %}
            <a class="disabled"> &gt;</a>
        {% endif %}
        <!-- Last page link -->
        {% if pages.next %}
            <a class="working" href="{{ url( route, params|merge({'page': pages.last }) ) }}">&gt;&gt;I</a>
        {% else %}
            <a class="disabled">&gt;&gt;I</a>
        {% endif %}
    </div>
{% endif %}
