{% if key == 'name' %}
    <a href="{{ url( 'product', { 'action': 'view','id':''~attribute(avalue, '_id')} )~saurl }}" >{{ avalue.name }}</a>
{% elseif key == 'changer_id' and attribute(avalue, 'changer_id') is not empty %}
    <a href="{{ url( 'user', { 'action': 'view','id':''~attribute(avalue, 'changer_id')} )~saurl }}" >
        {{ avalue.changerfname}}
        {{ avalue.changerlname}}
    </a>
{% elseif key == 'status_id' %}
    {{ attribute(avalue, "status") }}
{% elseif key == 'owner_id' and attribute(avalue, 'owner_id') is not empty %}
    <a href="{{ url( 'user', { 'action': 'view','id':''~attribute(avalue, 'owner_id')} )~saurl }}" >
    {{ avalue.ownerfname}}
    {{ avalue.ownerlname}}
    </a>
{% elseif key[-4:] == '_dtm' %}
    {{attribute(avalue, key)|date(constant('\\Wepo\\Constant::DATETIME_FORMAT'))}}
{% elseif key[-5:] == 'price' %}
    ${{ attribute(avalue, key)|number_format(2, '.', ',') }}
{% elseif key[-5:] == '_date' %}
    {{attribute(avalue, key)|date(constant('\\Wepo\\Constant::DATE_FORMAT'))}}
{% else %}
    {{attribute(avalue, key)}}
{% endif %}
