{% extends 'layout/layout.twig' %}
{% set title = translate(action|capitalize~' '~modelname~'(s)')  %}
{% block title %}{{parent()}} - {{ title }}{% endblock title %}
{% block content %}
    <div class="view_header">
        <div class="title"><h1>{{title}}</h1></div>
    </div>
    <form action="{{ url( modelname, { 'action': action } )~saurl }}" method="post">
        <div>
            <input type="hidden" name="eventtype" value="{{ eventtype }}" />
            {% for id in ids %}
                <input type="hidden" name="checkedid[]" value="{{ id }}" />
            {% endfor %}
            <input type="hidden" name="delyes" value="{{ translate('Yes') }}" />
        </div>
        <div class="table">
            <div class="table">
                <h2>{% block message %}{{ translate('Are you sure that you want to '~action~' '~modelname~'(s)?')}}{% endblock message %}</h2>
                <table>
                    <thead>
                        <tr>
                            <th width="20px">№</th>
                            <th>{{modelname|capitalize~'(s)'}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <th width="20px">
                                {{loop.index}}
                            </th>
                            <th>
                                {{item.getName}}
                            </th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="buttons">
                <a href="" class="green_but submitLink">{{ translate('Yes') }}</a>
                {% if saurlback !='/' %}
                    <a href="{{ saurlback }}">{{ translate('No') }}</a>
                {% else %}
                    <a href="{{ url( null, { 'action': 'list' } ) }}">{{translate('No')}}</a>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock content %}
