{% extends 'partial/form.twig' %}
{% set title = translate('Sign in') %}

{% block content %}
    {% if user.id %}
    {# when suddenly an unauthorized user see this template - give him links to dashboard and logout #}
        <a href="{{ url( 'dashboard') }}">{{translate('Dashboard')}}</a>
        <a href="{{ url( 'index', { 'action': 'logout' } ) }}">{{translate('Sign out')}}</a><br/>
    {% else %}
        {{parent()}}
    {% endif %}
{% endblock content %}
