{% extends 'layout/layout.twig' %}
{% set title = translate('Products') %}
{% block title %}{{parent()}} - {{ title }}{% endblock title %}
{% block content %}
<h1>{{title}}</h1>
<br/>
<div>
    <a href="{{ url( 'product', { 'action': 'add' } ) }}">{{translate('Add new product')}}</a> &nbsp;
    <a href="{{ url( 'field', { 'action': 'list', 'table':table.id } ) }}">{{translate('Choose output fields')}}</a> &nbsp;
    {% if permission ==1%}
    <a href="{{ url( 'product', { 'action': 'recyclelist' } ) }}">{{translate('Recycle')}}</a> &nbsp;
    {% endif%}
    <br/><br/>
{%if paginator.getTotalItemCount%}
    <form action="{{ url( 'product', { 'action': 'delete' } ) }}" method="post" name="cheked">
    <table border=2 width=100%>
        <tr align=center>
                <td align="center"><input name="all" type="checkbox" value="all" onClick="check();"/></td>
                {% for key,value in labels %}
                {% if (params.desc!=0) %}
                <td align="center"><b><a href="{{ url( 'product', { 'action': 'list','sort':key} ) }}">{{value}}</a></b>
                    {% if params.sort==key%}
                        <img src="/img/up.png">
                    {% endif%}
                </td>
                {%  else %}
                <td align="center"><b><a href="{{ url( 'product', { 'action': 'list','sort':key,'desc':1 } ) }}">{{value}}</a></b>
                {% if params.sort==key%}<img src="/img/down.png">{% endif %}
                </td>
                {% endif %}
                {% endfor %}
                <td colspan="2"><b>Actions</b></td>
        </tr>
    {% for akey,avalue in paginator.getCurrentItems %}
        <tr>
            <td align="center"><input name="checkedid[]" type="checkbox" value="{{avalue.id}}" id="{{avalue.id}}" class="check" /></td>
            {% for key,value in labels %}
                 <td align="center">
                        {% if key == 'changer' %}
                            {%if attribute(avalue, 'changer_id') != 0%}
                                <a href="{{ url( 'user', { 'action': 'view','id':attribute(avalue, 'changer_id')} ) }}" >{{attribute(avalue, key)}}</a>
                            {%else%}
                                {{attribute(avalue, key)}}
                            {%endif%}
                        {% else %}
                            {{attribute(avalue, key)}}
                        {%endif%}
                 </td>
            {% endfor%}
            <td align="center"><a href="{{ url( 'product', { 'action': 'edit','id':avalue.id } ) }}">edit</a></td>
            <td align="center"><a href="{{ url( 'product', { 'action': 'delete','id':avalue.id } ) }}">delete</a></td>
        </tr>
    {% endfor %}
    </table>
    <input type="submit" name="delete" value="Remove checked" />
    </form>
    </div>
    <form action="{{ url( 'product', { 'action': 'rowscount' } ) }}" method="post" name="countrows">
       <input type="hidden" name="sort" value="{{ params.sort }}" />
       <input type="hidden" name="s" value="{{ params.desc }}" />
       <p>Rows on the page<br/>
           <select name="rows">
                {% for i in rows %}
                    <option value="{{ i }}" {{ paginator.getItemCountPerPage == i ? 'selected="selected"' : '' }}>{{ i }}</option>
                {% endfor %}
           </select>
           <input type="submit" value="Set view">
       </p>
    </form>
    {%if paginator.count > 1%}
            {{ paginationControl(paginator, 'Elastic', 'partial/pagination', { 'route': 'product', 'params':params} ) }}
    {%endif%}
{% endif %}
<a href="{{ url( 'dashboard', { 'action': 'index' } ) }}">{{translate('Back to dashboard')}}</a><br/><br/>
{% endblock content %}
{% block script %}
            <script>
                var option = true;
                function check()
                {
                    if(option==true)
                    {
                       for(i=0; i<document.getElementsByClassName("check").length; i++)
                       {
                           document.getElementsByClassName("check")[i].checked = true;
                       }
                       option=false;
                    }
                    else
                    {
                       for(j=0; j<document.getElementsByClassName("check").length; j++)
                       {
                           document.getElementsByClassName("check")[j].checked = false;
                       }
                       option=true;
                    }
                }
            </script>
{% endblock script %}
