{% if key == 'title' %}
    <a href="{{ url( 'common', { 'data':'product', 'view':'view',  'id':avalue.id() }, { 'query': { 'back':saurlhash } } ) }}"><span
            class="d_title">{{ avalue.title }}</span></a>

{% elseif key == 'name'%}
    <a href="{{ url( 'common', { 'data':'product', 'view':'view',  'id':avalue.id() }, { 'query': { 'back':saurlhash } } ) }}">
        {{ avalue.name }}

    </a>{% elseif key == 'changer_title' and attribute(avalue, 'changer_id') is not empty %}
    <a href="{{ url( 'common', { 'data':'user', 'view':'view',  'id':''~attribute(avalue, 'changer_id') }, { 'query': { 'back':saurlhash } } ) }}">
        {{ avalue.changer_title }}
    </a>

{% elseif key == 'status_id' %}
    {{ attribute(avalue, "status") }}

{% elseif key == 'owner_title' and attribute(avalue, 'owner_title') is not empty %}
    <a href="{{ url( 'common', { 'data':'user', 'view':'view',  'id':''~attribute(avalue, 'owner_id') }, { 'query': { 'back':saurlhash } } ) }}">
        {{ avalue.owner_title }}
    </a>

{% elseif key == 'creator_title' and attribute(avalue, 'creator_title') is not empty %}
    <a href="{{ url( 'common', { 'data':'user', 'view':'view',  'id':''~attribute(avalue, 'creator_id') }, { 'query': { 'back':saurlhash } } ) }}">
        {{ avalue.creator_title }}
    </a>

{% elseif key == 'active' %}
    {% if  attribute(avalue, key) == 'true' %}<img src="/img/checked.png" alt="Yes" />{% endif %}
{% elseif key == 'owner' and attribute(avalue, 'owner_id') is not empty %}
    <a href="{{ url( 'user', { 'action': 'view','id':''~attribute(avalue, 'owner_id')} )~saurl }}">
        {{ avalue.owner }}
    </a>
{% elseif key[-5:] == 'price' %}
    ${{ attribute(avalue, key)|number_format(2, '.', ',') }}
{% elseif key[-4:] == '_dtm' and attribute(avalue, key) is not empty %}
    {{ attribute(avalue, key)|date(constant('\\Wepo\\Constant::DATETIME_FORMAT')) }}
{% elseif key[-5:] == '_date' and attribute(avalue, key) is not empty %}
    {{ attribute(avalue, key)|date(constant('\\Wepo\\Constant::DATE_FORMAT')) }}
{% else %}
    {{ attribute(avalue, key) }}
{% endif %}
