<a href="{{ url('test', {'action':'index'}) }}">Index</a>
<a href="{{ url('test', {'action':'fields'}) }}">Fields</a>
<a href="{{ url('test', {'action':'perms'}) }}">Permissions</a>
<a href="{{ url('test', {'action':'forms'}) }}">Forms</a>

<pre>
{% for model, modelFields in fields %}
    '{{ model }}' => [
    {% for field in modelFields %}
        '{{ field }}',
    {% endfor %}
    ],
{% endfor %}
</pre>
