{% extends 'partial/view.twig' %}
{% set title = 'User: ' ~ model.fname ~ ' ' ~model.lname %}
{% block title %}{{parent()}} - {{ title }}{% endblock title %}
{% block actions %}
  {% if model.status != 'deleted' %}
      <a href="{{ url( null, { 'action': 'edit','id':''~model.id() } )~saurl }}" class="edit btn-icon">{{translate('Edit')}}</a>&nbsp;
    <a href="{{ url( null, { 'action': 'delete','id':''~model.id() } )~saurl }}" class="delete btn-icon">{{translate('Delete')}}</a>&nbsp;
  {% elseif model.status == 'deleted' %}
    <a class="restore btn-icon green_but submitLink" href="{{ url( 'user', { 'action': 'restore', 'id':'' ~model.id()} )~saurl }}">{{translate('Restore')}}</a> &nbsp;
    {% if permission == 1 %}
        <a class="clean btn-icon green_but submitLink" href="{{ url( 'user', { 'action': 'clean', 'id':'' ~model.id()} )~saurldoubleback }}">{{translate('Clean')}}</a> &nbsp;
    {% endif %}
  {% endif %}
{% endblock actions %}

{% block style %}
    <style type="text/css">
        #scrollTop{
            background:url(/img/totop.png) 0 0 no-repeat;
            display:block; width:30px; height:30px;
            position:fixed; bottom:10px; right:2%;
            z-index:2000;
}
    </style>
{% endblock style %}

{% block otherinfo %}
    <div class="lead_other_info" style="margin-right: 40px;">
        <h3>Address Information</h3>
        <table>
            <tbody>
            <tr>
                <th>Country:</th>
                <td>{{ model.country }}</td>
            </tr>
            <tr>
                <th>ZIP:</th>
                <td>{{ model.zip }}</td>
            </tr>
            <tr>
                <th>State:</th>
                <td>{{ model.state }}</td>
            </tr>
            <tr>
                <th>City:</th>
                <td>{{ model.city }}</td>
            </tr>
            <tr>
                <th>Address:</th>
                <td>{{ model.address }}</td>
            </tr>
            </tbody>
        </table>
        <h3>Description:</h3>
        <div class="info">
            <p>{{ model.description }}</p>
        </div>
    </div>
{% endblock otherinfo %}
