{% extends 'partial/view.twig' %}

{% set title = 'Lead: ' ~ model.fname ~ ' ' ~model.lname %}

{% block title %}{{ parent() }} - {{ title }}{% endblock title %}

{% block avatar %}
    <img src="{{ WepoLink(mainuser.company_id, model, 'avatar', 'Leads') }}" alt="" style="max-width:120px;max-height:120px;">
{% endblock avatar %}

{% block actions %}
    {% if model.status not in [ 'deleted', 'converted' ] %}
        <a href="{{ url( 'activity', { 'action': 'add', 'activity': 'call', 'id':''~model.id(),'tableid':table_id } )~saurl }}"
           class="call btn-icon">{{ translate('Call') }}</a>
        <a href="{{ url( 'activity', { 'action': 'add', 'activity': 'task', 'id':''~model.id(),'tableid':table_id } )~saurl }}"
           class="task btn-icon">{{ translate('Task') }}</a>
        <a href="{{ url( 'activity', { 'action': 'add', 'activity': 'event', 'id':''~model.id(),'tableid':table_id } )~saurl }}"
           class="event btn-icon">{{ translate('Event') }}</a>
        <a href="{{ url( 'document', { 'action': 'add',  'id':''~model.id(),'tableid':table_id } )~saurl }}"
           class="attach btn-icon">{{ translate('Attach') }}</a>
        <a href="{{ url( 'lead', { 'action': 'delete', 'id':''~model.id() } )~saurl }}" class="delete btn-icon">
            {{ translate('Delete') }}</a>
        <a href="{{ url( 'lead', { 'action': 'convert', 'id':'' ~model.id()} )~saurl }}" class="convert btn-icon">{{ translate('Convert to patient') }}</a>
    {% elseif model.status == 'deleted' %}
        <a href="{{ url( 'lead', { 'action': 'restore', 'id':'' ~model.id()} )~saurl }}" class="restore  btn-icon">{{ translate('Restore') }}</a>
        {% if permission == 1 %}
            <a href="{{ url( 'lead', { 'action': 'clean', 'id':'' ~model.id()} )~delsaurl }}" class="clean  btn-icon">{{ translate('Clean') }}</a>
        {% endif %}
    {% endif %}
{% endblock actions %}

{% block otherinfo %}
    {#<div class="lead_other_info" style="margin-right: 40px;">
        <h3>Address Information</h3>
            <div class="info">
                <p>{%if model.address is not empty%}{{ model.address }}&nbsp;&nbsp;{% endif %}
                   {%if model.city is not empty%}{{model.city}}&nbsp;&nbsp;{% endif %}
                   {%if model.state is not empty%}{{ model.state }}&nbsp;&nbsp;{% endif %}
                   {%if model.zip is not empty%}{{ model.zip }}&nbsp;&nbsp;{% endif %}
                   {{ model.country }}</p>
            </div>
        <h3>Other Lead Information</h3>
        <table>
            <tbody>
            <tr>
                <th>Age:</th>
                <td>{{ model.age }}
                    {% if model.age!=1 %} years {% else %} year {% endif %}
                </td>
                <th>Gender</th>
                <td>{{ model.gender }}</td>
            </tr>
            <tr>
                <th>Weight:</th>
                <td>{{ model.weight }}</td>
                <th>Height:</th>
                <td>{{ model.height }}</td>
            </tr>
            <tr>
                <th>Lead status:</th>
                <td>{{ model.lead_status }}</td>
                <th>Lead source:</th>
                <td>
                    {% if  model.lead_source[:3] == 'www'%}
                        <a href="{{model.lead_source|replace({'[dot]':'\.', 'www[dot]':'http:\/\/'})}}" target="_blanc">{{ model.lead_source|replace({'[dot]':'\.'}) }}</a>
                    {% else %}
                        {{ model.lead_source|replace({'[dot]':'\.'}) }}
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
        <h3>Description:</h3>
        <div class="info">
            <p>{{ model.description }}</p>
        </div>
    </div>#}
    <div class="lead_other_info" style="margin-right: 40px;">
        <div class="tab">
            <ul class="tabs">
                <li><a href="#">Address</a></li>
                <li><a href="#">Other</a></li>
            </ul>
            <div class="tab_content">
                <div class="tabs_item">
                    <h3>Address Information</h3>
                    {#<div class="info">
                        <p>{%if model.address is not empty%}{{ model.address }}&nbsp;&nbsp;{% endif %}
                           {%if model.city is not empty%}{{model.city}}&nbsp;&nbsp;{% endif %}
                           {%if model.state is not empty%}{{ model.state }}&nbsp;&nbsp;{% endif %}
                           {%if model.zip is not empty%}{{ model.zip }}&nbsp;&nbsp;{% endif %}
                           {{ model.country }}</p>
                    </div>#}
                    <table>
                        <tbody>
                            <tr>
                                <th>Country:</th>
                                {% if model.country is not empty %}
                                    <td>{{ model.country }}</td>
                                {% else %}
                                    <td class="empty_field">{{ translate('empty') }}</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th>ZIP:</th>
                                {% if model.zip is not empty %}
                                    <td>{{ model.zip }}</td>
                                {% else %}
                                    <td class="empty_field">{{ translate('empty') }}</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th>State:</th>
                                {% if model.state is not empty %}
                                    <td>{{ model.state }}</td>
                                {% else %}
                                    <td class="empty_field">{{ translate('empty') }}</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th>City:</th>
                                {% if model.city is not empty %}
                                    <td>{{ model.city }}</td>
                                {% else %}
                                    <td class="empty_field">{{ translate('empty') }}</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th>Address:</th>
                                {% if model.address is not empty %}
                                    <td>{{ model.address }}</td>
                                {% else %}
                                    <td class="empty_field">{{ translate('empty') }}</td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tabs_item">
                    <h3>Other Information</h3>
                    <table>
                        <tbody>
                            <tr>
                                <th>Age:</th>
                                <td>{% if model.age is not empty%}{{ model.age }}
                                    {% if model.age!=1 %} years {% else %} year {% endif %}
                                    {% endif %}
                                </td>

                                <th>Gender</th>
                                {% if model.gender is not empty %}
                                    <td>{{ model.gender }}</td>
                                {% else %}
                                    <td class="empty_field">{{ translate('empty') }}</td>
                                {% endif %}
                            </tr>
                            <tr>
                                 <th>Weight:</th>
                                 {% if model.weight is not empty %}
                                    <td>{{ model.weight }}</td>
                                 {% else %}
                                    <td class="empty_field">{{ translate('empty') }}</td>
                                {% endif %}

                                <th>Height:</th>
                                {% if model.height is not empty %}
                                    <td>{{ model.height }}</td>
                                {% else %}
                                    <td class="empty_field">{{ translate('empty') }}</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th>Lead source:</th>
                                <td>
                                    {% if  model.lead_source[:3] == 'www'%}
                                        <a href="{{model.lead_source|replace({'[dot]':'\.', 'www[dot]':'http:\/\/'})}}" target="_blanc">{{ model.lead_source|replace({'[dot]':'\.'}) }}</a>
                                    {% else %}
                                        {{ model.lead_source|replace({'[dot]':'\.'}) }}
                                    {% endif %}
                                </td>
                                <th>Lead status:</th>
                                <td>{{ model.lead_status }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <h3>Description:</h3>
            <div class="info">
                <p class="description_edit">{{ model.description }}</p>
            </div>
        </div>
{% endblock otherinfo %}
{% block script %}
    {{parent()}}
    <script>
        $(document).ready(function () {

            (function ($) {
                $('.tab ul.tabs').addClass('active').find('> li:eq(0)').addClass('current');

                $('.tab ul.tabs li a').click(function (g) {
                    var tab = $(this).closest('.tab'),
                            index = $(this).closest('li').index();

                    tab.find('ul.tabs > li').removeClass('current');
                    $(this).closest('li').addClass('current');

                    tab.find('.tab_content').find('div.tabs_item').not('div.tabs_item:eq(' + index + ')').slideUp();
                    tab.find('.tab_content').find('div.tabs_item:eq(' + index + ')').slideDown();

                    g.preventDefault();
                });
            })(jQuery);

        });
    </script>
{% endblock script %}
{% block style %}
    {{parent()}}
    <style>
        .tab {
            position: relative;
            overflow: hidden;
            width: 100%;
            line-height: 1.5;
            color: #888;
            -webkit-font-smoothing: antialiased;
        }

        .tabs {
            display: table;
            position: relative;
            overflow: hidden;
            margin: 0;
            width: 100%;
        }
        .tabs li {
            float: right;
            width: 100px;
            text-align: center;
            line-height: 20px;
            overflow: hidden;
            padding: 0;
            position: relative;
        }
        .tabs a {
            border-bottom: 1px solid #fff;
            color: #888;
            display: block;
            letter-spacing: 0;
            outline: none;
            text-decoration: none;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            border-bottom: 2px solid #d0e4ed;
        }

        .tabs_item {
            display: none;
        }
        .tabs_item:first-child {
            display: block;
        }

        .current a {
            color: #fff;
            background: #2d5877;
        }


    </style>
{% endblock style %}
