{% if key == 'mail_title' %}
    <a href="{{ url( 'common', { 'data':'mailDetail', 'view':'view', 'id': avalue.mail_id } )~saurl }}" >
        <span class="d_title">{{ attribute(avalue, key) }}</span>
    </a>
{% elseif key == 'changer_title' and attribute(avalue, 'changer_id') is not empty %}
    <a href="{{ url( 'common', { 'data':'user', 'view':'view',  'id':''~attribute(avalue, 'changer_id') }, { 'query': { 'back':saurlhash } } ) }}">
        {{ avalue.changer_title }}
    </a>
{% elseif key == 'owner_title' and attribute(avalue, 'owner_id') is not empty %}
    <a href="{{ url( 'common', { 'data':'user', 'view':'view',  'id':''~attribute(avalue, 'owner_id') }, { 'query': { 'back':saurlhash } } ) }}">
        {{ avalue.owner_title }}
    </a>
{% elseif key == 'owner' and attribute(avalue, 'owner_id') is not empty %}
    <a href="{{ url( 'common', { 'data':'user', 'view':'view',  'id':''~attribute(avalue, 'owner_id') }, { 'query': { 'back':saurlhash } } ) }}">
        {{ avalue.owner_title }}
    </a>
{% elseif key == 'status_id' %}
    {{ attribute(avalue, "status_title") }}
{% elseif key[-4:] == '_dtm' and attribute(avalue, key) is not empty %}
    {{ attribute(avalue, key)|date(constant('\\Wepo\\Constant::DATETIME_FORMAT')) }}
{% elseif key[-5:] == '_date' and attribute(avalue, key) is not empty %}
    {{ attribute(avalue, key)|date(constant('\\Wepo\\Constant::DATE_FORMAT')) }}
{% elseif key == 'date' and attribute(avalue, key) is not empty %}
    {{ attribute(avalue, key)|date(constant('\\Wepo\\Constant::DATE_FORMAT')) }}
{% else %}
    {{ attribute(avalue, key) }}
{% endif %}
