{% extends 'layout/layout.twig' %}

{% block script %}
    <script>
        $(function () {
            $('#product_id').change(PutToPrice);
            $('#product_id,#raw_price,#discount_type,#discount,#adjustment,#vat,#sales_tax,#qty').change(countTotalPrice);

            $('select:visible').selectize({
                'dropdownParent': 'body',
                'preload': false
            });
        });
    </script>
{% endblock script %}


{% block title %}
    {{ parent() }} - {{ title }}
{% endblock title %}

{% block content %}

    <div class="viewtable">
        <div class="form_header">
            <div class="buttons">
                <a href="{{ saurlback !='/' ? saurlback : url( null, { 'action': 'list' } ) }}" class="back btn-icon" title="Back">{{ translate("Back") }}</a>
            </div>

            <div class="title"><h1>{{ title }}</h1></div>
    </div>

    {% do form.setAttribute('class',form.getAttribute('class')) %}
    {{ form().openTag(form)|raw }}

    {% block upperform %}
    {% endblock upperform %}

    {% block formDetails %}

        {% for fkey, fieldset in form %}
            {% if fieldset.getAttribute('class')=='table' %}
                <div class='table fieldset'>
                    {#<div class="table">#}
                    <h2>{{ fieldset.getLabel }}</h2>

                    <div class="form_info">* Required Field(s)</div>
                    <div class="form">
                        <div class="col">
                            {% for ekey, element in fieldset %}
                            {% if ekey == fieldset|length//2 - 1 and fieldset|length > 3 %}
                        </div>
                        <div class="col">
                            {% endif %}
                            <div class="input">
                                <label
                                    for="id{{ element.getName }}" {% for akey,attr in element.getLabelAttributes %} {{ akey }}="{{ attr }}" {% endfor %}
                                >
                                {% if element.Label!=NULL %}
                                    <span class="splabel">{{ element.getLabel }}:</span>
                                {% endif %}
                                </label>
                                {% if element.getAttribute('type')=='checkbox' %}
                                    <div class="checkbox">{{ formElement(element) }}</div>
                                {% else %}
                                    {{ formElement(element) }}
                                {% endif %}
                                <label for="id{{ element.getName }}"
                                       class="error {% if element.getMessages %}{%else%}hidden{% endif %}">{% for message in element.getMessages %}{{ message }}{% endfor %}</label>
                                {#{ WepoElementErrors(element) }#}
                            </div>
                            {% endfor %}
                            <div class="input">
                                <label for="iderror" class="error">{{ message }}</label>
                            </div>
                        </div>
                    </div>
                </div>

            {% elseif fieldset.getAttribute('class')=='buttons' %}
                <div class="listtable">
                    <div class="buttons clearfix {{ fieldset.getName }}">
                        {% for ekey, element in fieldset %}
                            {#<pre>{{ dump(element) }}</pre>#}
                            {#<a href="#" class="submitLink btn-icon save" title="Save">{{ element.getValue }}</a>#}
                            <a href="#" class="submitLink btn-icon save" type = 'submit' value = '{{ element.getLabel }}' title='{{ element.getValue }}'>{{ element.getValue }}</a>
                            <noscript>{{ formRow(element) }}</noscript>
                        {% endfor %}
                        <a href="{{ saurlback !='/' ? saurlback : url( null, { 'action': 'list' } ) }}" class="btn-icon cancel" title="Cancel">{{ translate("Cancel") }}</a>
                        <div class="success_msg hidden" ><i class="imgTxt txtError"></i>
                            <div>some global error message</div>
                        </div>
                    </div>
                </div>
            {% elseif fieldset.getAttribute('class')=='additional' %}
                {% block additionalFieldset %}
                {% endblock additionalFieldset %}
            {% else %}
{#              <div class="form" >#}
                <div class="" >
                    {% for ekey, element in fieldset %}
                        {{ formElement(element) }}
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}



    {% endblock formDetails %}
    {{ form().closeTag(form)|raw }}
</div>
<a align="center" id="scrollTop" href="#"></a>
    {#<div class="footerballast">

    </div>#}

{% endblock content %}
