<div class="widget {{ name|lower|replace(' ','_') }}">
    <div class="title">
        <div class="listtitle">
            <span class="small icon"
                  style="background-image: url(/css/img/icons/32x32-icons/{{ widget.model }}.png)"></span>

            <h2>{{ name }}</h2>
        </div>

        <div class="buttons controls">
            {% if widget.model_link %}
                {% block tableLinks %}
                    {% for icon_key, link in widget.model_link %}
                        <a class="btn-icon {{ icon_key }}"
                           href="{{ url(link.route, link.routeparams, { 'query': link.queryparams|merge({ 'back':saurlhash }) } ) }}">{{ translate(link.label) }}</a>
                    {% endfor %}
                {% endblock tableLinks %}
            {% endif %}
        </div>

        <div class="buttons right controls">
            {#          <a style="cursor: pointer;" class="minibutton resize_button not_full"></a>#}
            <a style="cursor: pointer;" class="minibutton minimize_button "></a>
        </div>

        <div class="clear"></div>
    </div>

    <div class="widget_content">

        <table class="data">
            <thead>
            <tr class="tableHeader">
                {% for avalue in widget.labels %}
                    <th>{{ avalue }}</th>
                {% endfor %}
                {% if widget.action %}
                    <th class="action">Actions</th>
                {% endif %}
            </tr>
            </thead>

            <tbody>
            {% for datarow in widget.data %}
                <tr>
                    {% for key,label in widget.labels %}
                        <td style="max-width: 186px;">
                            {% include 'partial/'~widget.model~'-list.twig'  with {'avalue':datarow, 'key':key } %}
                        </td>
                    {% endfor %}
                    {% if widget.action %}
                        {% block action %}
                            <td class="action">
                                {% for action, conf in widget.action %}
                                    <a class="actionview"
                                       href="{{ url(conf.route, conf.routeparams|merge({ 'id':''~ attribute(datarow, conf.id) }), { 'query': conf.queryparams|merge({ 'back':saurlhash }) } ) }}"><img
                                            src="/img/1.png" class="{{ action }}" alt="{{ action }}"/><span
                                            class="tooltip top">{{ action|capitalize }}</span></a>&nbsp;
                                {% endfor %}
                            </td>
                        {% endblock action %}
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% if widget.paginator.count > 1 %}
        <div class="tableBottomToolbar">
            <div class="buttons clearfix">
                {% include 'partial/pagination.twig' with {'pages':widget.paginator.getPages, 'route': 'search', 'params':widget.params} %}
            </div>
        </div>
    {% endif %}
</div>
