{% extends 'partial/view.twig' %}
{% set title = 'Payment: ' ~ model.description %}
{% block title %}{{parent()}} - {{ title }}{% endblock title %}
{% block photo %}
{% endblock photo %}
{% block actions %}
    <a href="{{ url( null, { 'action': 'edit','id':''~model.id() } )~saurl }}" class="edit btn-icon">{{translate('Edit')}}</a>
    <a href="{{ url( null, { 'action': 'delete','id':''~model.id() } )~delsaurl }}" class="delete btn-icon">{{translate('Delete')}}</a> &nbsp;
{% endblock actions %}
