 {% extends 'partial/list.twig' %}

{% set title = translate('Leads') %}

{% block data %}
    {% include 'partial/lead-list.twig' %}
{% endblock data %}

{% block action %}
<a class="actionview" href="{{ url( null, { 'action': 'view','id':avalue.id() }, { 'query': params + {'back': back} } )  }}"><img src="/img/1.png" class="view"  alt="{{translate('View')}}" /><span class="tooltip top">View</span></a>&nbsp;
    <a class="actionview" href="{{ url( null, { 'action': 'edit','id':avalue.id() } )~saurl }}"><img src="/img/1.png" class="edit"  alt="{{translate('Edit')}}" /><span class="tooltip top">Edit</span></a>&nbsp;
{#    <a class="actionview" href="{{ url( null, { 'action': 'delete','id':avalue.id() } )~saurl }}"><img src="/img/1.png" class="delete"  alt="{{translate('Delete')}}" /><span class="tooltip top">Delete</span></a>&nbsp;#}
    <a class="actionview" href="{{ url( null, { 'action': 'convert','id':avalue.id() } )~saurl }}"><img src="/img/1.png" class="convert"  alt="{{translate('Convert')}}" /><span class="tooltip top">Convert to patient</span></a>
    <a class="actionview"><img src="/img/1.png" class="delete single_del"  alt="{{translate('Delete')}}" /><span class="tooltip top">Delete</span></a>&nbsp;
{% endblock action %}
