{% extends 'partial/detaillist.twig' %}

{% set masterName = master.getModelName|lower %}
{% set MasterName = master.getModelName %}
{% set title = translate(MasterName) ~ ': '~ master.getName %}
{% set detailName = details %}
{% set detailsName = details ~ 's' %}

{#{% block table_link %}#}
    {#onclick='location.href="{{ url( null, { 'action': 'view', 'pricebookid':avalue.pricebook_id, 'id':''~avalue.id() } )~saurl }}"'#}
{#{% endblock table_link %}#}

{% block data %}
    {% include 'partial/pricebookdetail-list.twig' %}
    {#{% if key == 'product' and attribute(avalue, 'product_id') is not empty %}#}
        {#<a href="{{ url( 'product', { 'action': 'view','id':''~attribute(avalue, 'product_id')} )~saurl }}">{{ attribute(avalue, key) }}</a>#}
    {#{% elseif key[-6:] == '_price' %}#}
        {#${{ attribute(avalue, key)|number_format(2, '.', ',') }}#}
    {#{% else %}#}
        {#{{ attribute(avalue, key) }}#}
    {#{% endif %}#}
{% endblock data %}

{% block action %}
    {{ parent() }}
{% endblock action %}
