{% extends 'layout/layout.twig' %}
{% set title = translate('Order info') %}
{% block title %}{{parent()}} - {{ title }}{% endblock title %}
{% block content %}
<h1>{{title}}</h1>
<div>
    <table border=2 width=600>
        <tr>
           <th colspan="2" align="center">
               <p><b>Order №{{quote.id}}</b></p>
           </th>
       </tr>
    {% for key, value in quote.toView %}
       <tr align="left">
           <th>&nbsp&nbsp{{field_labels[key]}}</th>
           <td>&nbsp;&nbsp;{{value}}</td>
       </tr>
    {% endfor %}
       <tr>
           <th colspan='2'><a href="{{ url( 'quote', { 'action': 'edit','id':id } ) }}">{{translate('Edit main info')}}</a>
               &nbsp;&nbsp;<a href="{{ url( 'quotedetail', { 'action': 'list','quoteid':id } ) }}">{{translate('Edit details')}}</a>
           </th>
       </tr>
        </table>
        <br/>
    </div>
<form action="{{ url( route, { 'action': 'order' } ) }}" method="post">
    <div>
        <input type="button" value="Details" onClick="show();"/>&nbsp;&nbsp;
        <input type="hidden" name="id" value="{{ id }}" />
        <input type="submit" value="{{translate('Create')}}"/>
    </div>
</form>
<div id="details" class="hide">
<br/>
<table border=2>
    <tr align="left">
        <td align="center" width=30><b>№</b></td>
        {% for key, value in details|first.toView %}
            {% if key!= 'order_id'%}
               <td align="left" width=110><b>&nbsp;&nbsp;{{translate(detail_labels[key])}}</b></td>
            {% endif %}
        {% endfor %}
    </tr>
       {% for detail in details %}
               <tr align="left">
               <td align="center" width=30>{{loop.index}}</td>
           {% for key, value in detail.toView %}
               {% if key!= 'order_id'%}
                       {% if key == 'product_id'%}
                           <td align="left" width="30">&nbsp;&nbsp;{{products[value]}}</td>
                       {% else %}
                           <td align="left" width="30">&nbsp;&nbsp;{{value}}</td>
                       {% endif %}
               {% endif %}
           {% endfor %}
               </tr>
       {% endfor %}
</table>
</div>
<br/>
<br/>
<a href="{{ url( 'quote', { 'action': 'list' } ) }}">{{translate('Back to quotes')}}</a>
{% endblock content %}
{% block script %}
    <script>
        var flag = true;
        function show()
        {
            if ( flag === true )
            {
                document.getElementById('details').style.display='block';
                flag = false;
            }
            else
            {
                document.getElementById('details').style.display='none';
                flag = true;
            }
        }
    </script>
{% endblock script %}
{% block style %}
    <style type="text/css">
            <!--
            .hide {
                overflow:hidden;
                display: none;
            }
    </style>
{% endblock style %}
