{% extends 'partial/list.twig' %}

{% set title = translate('Mails') %}

{% block data %}
    {% if key == 'changer' %}
        {% if attribute(avalue, 'changer_id') is not empty %}
            <a href="{{ url( 'user', { 'action': 'view','id':''~attribute(avalue, 'changer_id')} )~saurl }}" >{{ attribute(avalue, key) }}</a>
        {%else%}
            {{ attribute(avalue, key) }}
        {%endif%}
    {% elseif key == 'owner' %}
        {% if attribute(avalue, 'owner_id') is not empty %}
            <a href="{{ url( 'user', { 'action': 'view','id':''~attribute(avalue, 'owner_id')} )~saurl }}" >{{ attribute(avalue, key) }}</a>
        {% else %}
            {{ attribute(avalue, key) }}
        {% endif %}
    {% elseif key == 'contact' %}
        {% if attribute(avalue, 'contact_id') is not empty %}
            <a href="{{ url( 'contact', { 'action': 'view','id':''~attribute(avalue, 'contact_id')} )~saurl }}" >{{ attribute(avalue, key) }}</a>
        {% else %}
            {{ attribute(avalue, key) }}
        {% endif %}
    {% else %}
        {{ attribute(avalue, key) }}
    {% endif %}
{% endblock data %}


{% block link %}
    <a class="table_head_link1" href="{{ url( null, { 'action': 'sync' } ) }}">{{translate('Sync')}}</a>
    <a class="table_head_link1" href="{{ url( null, { 'action': 'add' } ) }}">{{translate('Send Mail')}}</a>
    <a class="table_head_link1" href="{{ url( 'setup', { 'action': 'view', 'table':table.id } )~saurl }}">{{translate('Choose output fields')}}</a>
    {#{% if permission == 1 %}#}
    <a href="{{ url( null, { 'action': 'recyclelist' } ) }}">{{translate('Recycle')}}</a>
    {# {% endif %}#}
{% endblock link %}

{% block action %}
{#            {{avalue}}#}
    <a class="actionview" href="{{ url( null, { 'action': 'view','id':avalue.id() } )~saurl }}"><img src="/img/1.png" class="view" /><span class="tooltip top">View</span></a>&nbsp;
{#    <a href="{{ url( null, { 'action': 'edit','id':avalue.id() } )~saurl }}"><img src="/img/1.png" class="edit" /></a>&nbsp;#}
    <a class="actionview" href="{{ url( null, { 'action': 'delete','id':avalue.id() } )~saurl }}"><img src="/img/1.png" class="delete" /><span class="tooltip top">Delete</span></a>
{% endblock action %}
